.b-page
	include breadcrumbs.jade
	+breadcrumbs(['каталоги','residential'])
	.b-content.container
		.b-content__textblock
			h1 RESIDENTAL
			p.b-content__text Ковры и ковровые покрытия серии Residental из натуральных или высокотехнологичных материалов. Высокий стиль и повышенный комфорт для оформления общественных (light commercial) и частных пространств. <br> Износостойкие материалы, которые сохраняют презентабельный вид в условиях длительной эксплуатации на объектах с невысокой проходимостью: в частных домах, офисах руководителей,  бутиковых отелях. 
	.b-catalog.container
		.b-catalog-item.i-catspoil
			h2.b-catalog-item__title.i-catspoil__link NATURE
			.b-catalog-item__textblock.i-catspoil__list
				.b-catalog-item__text  Серия Nature – богатство цвета и природных мотивов. Динамика принтов на тему анималистики или лаконичность природ-ных орнаментов поддержит в интерьере атмосферу гармонии или создаст особое настроение и подчеркнет характер самого смелого пространства. 
					a(href="").b-catalog-item__image.b-catalog-image.d-none.d-lg-flex
						img(src="images/catalog-pix.png").b-catalog-image__pix
						.b-catalog-image__link СМОТРЕТЬ КОЛЛЕКЦИЮ
				.b-catalog-item__minicat.b-catalog-minicat
					img(src='images/minicat.png').b-catalog-minicat__item.b-catalog-minicat__item--4
					img(src='images/minicat-2.png').b-catalog-minicat__item.b-catalog-minicat__item--3
					img(src='images/minicat.png').b-catalog-minicat__item.b-catalog-minicat__item--2
					img(src='images/minicat-2.png').b-catalog-minicat__item.b-catalog-minicat__item--1
				
			a(href="").b-catalog-item__image.b-catalog-image.d-lg-none
				img(src="images/catalog-pix.png").b-catalog-image__pix
				.b-catalog-image__link СМОТРЕТЬ КОЛЛЕКЦИЮ
			.b-catalog-cat.d-none
				img(src='images/minicat.png').b-catalog-cat__item.b-catalog-cat__item--4
				img(src='images/minicat-2.png').b-catalog-cat__item.b-catalog-cat__item--3
				img(src='images/minicat.png').b-catalog-cat__item.b-catalog-cat__item--2
				img(src='images/minicat-2.png').b-catalog-cat__item.b-catalog-cat__item--1
		.b-catalog-item.i-catspoil
			h2.b-catalog-item__title.i-catspoil__link NATURE
			.b-catalog-item__textblock.i-catspoil__list
				.b-catalog-item__text  Серия Nature – богатство цвета и природных мотивов. Динамика принтов на тему анималистики или лаконичность природ-ных орнаментов поддержит в интерьере атмосферу гармонии или создаст особое настроение и подчеркнет характер самого смелого пространства. 
					a(href="").b-catalog-item__image.b-catalog-image.d-none.d-lg-flex
						img(src="images/catalog-pix.png").b-catalog-image__pix
						.b-catalog-image__link СМОТРЕТЬ КОЛЛЕКЦИЮ
				.b-catalog-item__minicat.b-catalog-minicat
					img(src='images/minicat.png').b-catalog-minicat__item.b-catalog-minicat__item--4
					img(src='images/minicat-2.png').b-catalog-minicat__item.b-catalog-minicat__item--3
					img(src='images/minicat.png').b-catalog-minicat__item.b-catalog-minicat__item--2
					img(src='images/minicat-2.png').b-catalog-minicat__item.b-catalog-minicat__item--1
				
			a(href="").b-catalog-item__image.b-catalog-image.d-lg-none
				img(src="images/catalog-pix.png").b-catalog-image__pix
				.b-catalog-image__link СМОТРЕТЬ КОЛЛЕКЦИЮ
			.b-catalog-cat.d-none
				img(src='images/minicat.png').b-catalog-cat__item.b-catalog-cat__item--4
				img(src='images/minicat-2.png').b-catalog-cat__item.b-catalog-cat__item--3
				img(src='images/minicat.png').b-catalog-cat__item.b-catalog-cat__item--2
				img(src='images/minicat-2.png').b-catalog-cat__item.b-catalog-cat__item--1
		.container
			include sample.jade

