include breadcrumbs.jade
.container
	h1 Контакты
	.b-contact-item
		.b-contact-item__adres.b-contact-adres.i-tabs(data-default = 'central').row
			//-.b-contact-adres__header.col-12
				a(href='' data-id= 'central').b-contact-adres__tab.i-tabs__link ГЛАВНЫЙ ОФИС
				.d-none.d-lg-block.b-contact-adres__sepor  /
				a(href='' data-id= "diller" ).b-contact-adres__tab.i-tabs__link
					span.d-none.d-sm-block ДИЛЛЕРСКАЯ СЕТЬ
					span.d-sm-none ДИЛЛЕРЫ 
			.col-12.col-lg-4
				.b-contact-adres__header
					a(href='' data-id= 'central').b-contact-adres__tab.i-tabs__link ГЛАВНЫЙ ОФИС
					.d-none.d-lg-block.b-contact-adres__sepor  /
					a(href='' data-id= "diller" ).b-contact-adres__tab.i-tabs__link
						span.d-none.d-sm-block ДИЛЛЕРСКАЯ СЕТЬ
						span.d-sm-none ДИЛЛЕРЫ 
				.b-contact-adres__list
					.b-contact-adres__item(data-id = 'central').i-tabs__list
						.b-city__place.b-place
							.b-place__title Москва
							a(href="tel:+74952111208").b-place__phone +7(495)211-12-08
							.b-place__adres ул. Саввинская набережная 21, стр.1
					.b-contact-adres__item(data-id = 'diller').i-tabs__list.row
						.b-contact-adres__element.b-adres.i-adres.col-12.col-md-3.col-lg-6
							.b-adres__title.i-adres__link(data-cityname='СОЧИ') СОЧИ
							.b-adres__list.i-adres__list
								include city.jade
						.b-contact-adres__element.b-adres.i-adres.col-12.col-md-3.col-lg-6
							.b-adres__title.i-adres__link(data-cityname='ТЮМЕНЬ') ТЮМЕНЬ
							.b-adres__list.i-adres__list
								include city.jade
						.b-contact-adres__element.b-adres.i-adres.col-12.col-md-3.col-lg-6
							.b-adres__title.i-adres__link(data-cityname='МОСКВА') МОСКВА
							.b-adres__list.i-adres__list
								include city.jade
						.b-contact-adres__element.b-adres.i-adres.col-12.col-md-3.col-lg-6
							.b-adres__title.i-adres__link(data-cityname='Санкт-петербург') С.-ПЕТЕРБУРГ
							.b-adres__list.i-adres__list
								include city.jade
						.b-contact-adres__element.b-adres.i-adres.col-12.col-md-3.col-lg-6
							.b-adres__title.i-adres__link(data-cityname='ВЛАДИВОСТОК') ВЛАДИВОСТОК
							.b-adres__list.i-adres__list
								include city.jade
						.b-contact-adres__element.b-adres.i-adres.col-12.col-md-3.col-lg-6
							.b-adres__title.i-adres__link(data-cityname='НОВОСИБИРСК') НОВОСИБИРСК
							.b-adres__list.i-adres__list
								include city.jade
			.b-contact-item__map.col-12.col-lg-8
				.b-map#map
				.b-contact-item__social.b-social
					a(href="").b-footer-social__item
						svg(width="30", height="30", viewbox="0 0 30 30", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M0 0V30H15.9768V18.4116H12.0712V13.6809H15.9768V9.70798C15.9768 6.81858 18.3191 4.47627 21.2085 4.47627H25.2916V8.73024H22.37C21.4518 8.73024 20.7075 9.47456 20.7075 10.3927V13.681H25.2182L24.5948 18.4117H20.7075V30H30V0H0Z", fill="#808080")
					a(href="").b-footer-social__item
						svg(width="30", height="30", viewbox="0 0 30 30", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM19.9697 7.15292H10.0303C8.44382 7.15292 7.15292 8.44382 7.15292 10.0303V19.9697C7.15292 21.5562 8.44382 22.8471 10.0303 22.8471H19.9697C21.5562 22.8471 22.8471 21.5562 22.8471 19.9697V10.0303C22.8471 8.44382 21.5562 7.15292 19.9697 7.15292ZM14.9997 20.1665C12.1513 20.1665 9.83345 17.8487 9.83345 14.9997C9.83345 12.1513 12.1513 9.83345 14.9997 9.83345C17.8487 9.83345 20.1665 12.1513 20.1665 14.9997C20.1665 17.8487 17.8487 20.1665 14.9997 20.1665ZM20.3324 10.9018C19.6583 10.9018 19.11 10.3535 19.11 9.67941C19.11 9.00533 19.6583 8.45698 20.3324 8.45698C21.0065 8.45698 21.5549 9.00533 21.5549 9.67941C21.5549 10.3535 21.0065 10.9018 20.3324 10.9018ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM19.9697 7.15292H10.0303C8.44382 7.15292 7.15292 8.44382 7.15292 10.0303V19.9697C7.15292 21.5562 8.44382 22.8471 10.0303 22.8471H19.9697C21.5562 22.8471 22.8471 21.5562 22.8471 19.9697V10.0303C22.8471 8.44382 21.5562 7.15292 19.9697 7.15292ZM14.9997 20.1665C12.1513 20.1665 9.83345 17.8487 9.83345 14.9997C9.83345 12.1513 12.1513 9.83345 14.9997 9.83345C17.8487 9.83345 20.1665 12.1513 20.1665 14.9997C20.1665 17.8487 17.8487 20.1665 14.9997 20.1665ZM20.3324 10.9018C19.6583 10.9018 19.11 10.3535 19.11 9.67941C19.11 9.00533 19.6583 8.45698 20.3324 8.45698C21.0065 8.45698 21.5549 9.00533 21.5549 9.67941C21.5549 10.3535 21.0065 10.9018 20.3324 10.9018ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM0 0V30H30V0H0ZM25.03 19.9697C25.03 22.7602 22.7602 25.03 19.9697 25.03H10.0303C7.23981 25.03 4.97005 22.7602 4.97005 19.9697V10.0303C4.97005 7.23981 7.23981 4.97005 10.0303 4.97005H19.9697C22.7602 4.97005 25.03 7.23981 25.03 10.0303V19.9697ZM19.9697 7.15292H10.0303C8.44382 7.15292 7.15292 8.44382 7.15292 10.0303V19.9697C7.15292 21.5562 8.44382 22.8471 10.0303 22.8471H19.9697C21.5562 22.8471 22.8471 21.5562 22.8471 19.9697V10.0303C22.8471 8.44382 21.5562 7.15292 19.9697 7.15292ZM14.9997 20.1665C12.1513 20.1665 9.83345 17.8487 9.83345 14.9997C9.83345 12.1513 12.1513 9.83345 14.9997 9.83345C17.8487 9.83345 20.1665 12.1513 20.1665 14.9997C20.1665 17.8487 17.8487 20.1665 14.9997 20.1665ZM20.3324 10.9018C19.6583 10.9018 19.11 10.3535 19.11 9.67941C19.11 9.00533 19.6583 8.45698 20.3324 8.45698C21.0065 8.45698 21.5549 9.00533 21.5549 9.67941C21.5549 10.3535 21.0065 10.9018 20.3324 10.9018ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM19.9697 7.15292H10.0303C8.44382 7.15292 7.15292 8.44382 7.15292 10.0303V19.9697C7.15292 21.5562 8.44382 22.8471 10.0303 22.8471H19.9697C21.5562 22.8471 22.8471 21.5562 22.8471 19.9697V10.0303C22.8471 8.44382 21.5562 7.15292 19.9697 7.15292ZM14.9997 20.1665C12.1513 20.1665 9.83345 17.8487 9.83345 14.9997C9.83345 12.1513 12.1513 9.83345 14.9997 9.83345C17.8487 9.83345 20.1665 12.1513 20.1665 14.9997C20.1665 17.8487 17.8487 20.1665 14.9997 20.1665ZM20.3324 10.9018C19.6583 10.9018 19.11 10.3535 19.11 9.67941C19.11 9.00533 19.6583 8.45698 20.3324 8.45698C21.0065 8.45698 21.5549 9.00533 21.5549 9.67941C21.5549 10.3535 21.0065 10.9018 20.3324 10.9018ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017ZM19.9697 7.15292H10.0303C8.44382 7.15292 7.15292 8.44382 7.15292 10.0303V19.9697C7.15292 21.5562 8.44382 22.8471 10.0303 22.8471H19.9697C21.5562 22.8471 22.8471 21.5562 22.8471 19.9697V10.0303C22.8471 8.44382 21.5562 7.15292 19.9697 7.15292ZM14.9997 20.1665C12.1513 20.1665 9.83345 17.8487 9.83345 14.9997C9.83345 12.1513 12.1513 9.83345 14.9997 9.83345C17.8487 9.83345 20.1665 12.1513 20.1665 14.9997C20.1665 17.8487 17.8487 20.1665 14.9997 20.1665ZM20.3324 10.9018C19.6583 10.9018 19.11 10.3535 19.11 9.67941C19.11 9.00533 19.6583 8.45698 20.3324 8.45698C21.0065 8.45698 21.5549 9.00533 21.5549 9.67941C21.5549 10.3535 21.0065 10.9018 20.3324 10.9018ZM14.9997 12.017C13.3553 12.017 12.0163 13.3553 12.0163 14.9997C12.0163 16.6447 13.3553 17.9837 14.9997 17.9837C16.6447 17.9837 17.983 16.6447 17.983 14.9997C17.983 13.3553 16.6447 12.017 14.9997 12.017Z", fill="#808080")

					a(href="").b-footer-social__item
						svg(width="30", height="30", viewbox="0 0 30 30", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(d="M0 0V30H30V0H0ZM19.2036 18.3492C16.9145 19.5313 15.0569 18.9497 14.5691 18.7058C14.0813 18.4618 13.6685 17.8802 13.6685 17.8802C13.6685 17.8802 13.1056 20.3007 12.6552 21.5578C12.2049 22.815 10.7414 24.5036 10.7414 24.5036C10.7414 24.5036 10.2723 22.6085 10.6101 20.5446C10.9478 18.4806 12.0361 14.0338 12.0361 14.0338C12.0361 14.0338 11.3794 12.7204 11.9235 11.4257C12.4676 10.131 13.4058 9.53059 14.6441 9.99963C15.8825 10.4687 15.2821 12.2324 15.1508 12.664C15.0195 13.0956 14.1563 15.3096 14.419 16.0789C14.6817 16.8483 16.5017 18.4806 18.697 15.4785C20.8923 12.4764 19.6773 9.24909 17.8339 8.06698C16.5168 7.22249 13.3158 6.29715 10.9854 8.93014C8.09591 12.195 10.6477 15.0095 10.6477 15.0095L9.97218 16.5856C9.97218 16.5856 7.23275 16.0415 7.47667 12.0261C7.72058 8.01073 11.5295 5.47775 15.0945 5.49654C18.6595 5.51534 21.0988 7.42919 22.2057 10.2623C23.3128 13.0956 21.4927 17.1672 19.2036 18.3492Z", fill="#808080")

					a(href="").b-footer-social__item
						svg(width="30", height="30", viewbox="0 0 30 30", fill="none", xmlns="http://www.w3.org/2000/svg")
							path(fill-rule="evenodd", clip-rule="evenodd", d="M0 0V30H30V0H0ZM25.0215 19.9095C24.7669 21.0139 23.8635 21.8294 22.776 21.9508C20.2017 22.2378 17.5952 22.2398 14.9989 22.2378C12.4037 22.2398 9.79727 22.2378 7.22215 21.9508C6.13437 21.8295 5.23101 21.0139 4.97776 19.9095C4.61538 18.3372 4.61538 16.6194 4.61538 14.9999C4.61538 13.3805 4.61967 11.6635 4.98171 10.0911C5.23497 8.98569 6.13866 8.17127 7.22506 8.04989C9.80044 7.76209 12.408 7.76097 15.0032 7.76209C17.5982 7.76103 20.2049 7.76209 22.78 8.04989C23.8678 8.17127 24.7712 8.98569 25.0255 10.0911C25.3878 11.6635 25.3846 13.3805 25.3846 14.9999C25.3846 16.6194 25.3836 18.3372 25.0215 19.9095Z", fill="#808080")
							path(fill-rule="evenodd", clip-rule="evenodd", d="M12.3201 18.224C14.5267 17.0797 16.7138 15.945 18.9226 14.7999C16.7074 13.6441 14.5206 12.504 12.3201 11.3557V18.224Z", fill="#808080")

	.b-contact-form
		h2.b-contact-form__title Расскажите нам о своем проекте
		form.b-contact-form__form.row
			.b-contact-form__line.col-12.col-sm-6
				input(type="text" name='name' placeholder="Имя").b-contact-form__input
			.b-contact-form__line.col-12.col-sm-6
				input(type="text" name='email' placeholder="Email").b-contact-form__input
			.b-contact-form__line.col-12.col-sm-6
				input(type="text" name='company' placeholder="Компания").b-contact-form__input
			.b-contact-form__line.col-12.col-sm-6
				input(type="text" name='phone' placeholder="Телефон").b-contact-form__input
			.b-contact-form__line.col-12.col-sm-6.col-lg-4
				textarea( placeholder="Сообшение" resize="none" name="mesage").b-contact-form__textarea
			.b-contact-form__line.col-12.col-sm-6.col-lg-2
				label.b-form-file
					input(type="file" name="file" ).b-form-file__input
					.b-form-file__label.b-contact-form__button
						span Загрузить фото
			.b-contact-form__line.col-12.col-sm-12.col-lg-6
				.b-contact-form__boxes.b-contact-boxes
					.b-contact-boxes__title Как вы узнали о нас?
					.b-contact-boxes__list
						label.b-box
							input(type="checkbox" name="affilate" value ="press").b-box__input
							.b-box__label
							.b-box__name Пресса
						label.b-box
							input(type="checkbox" name="affilate" value ="internet").b-box__input
							.b-box__label
							.b-box__name Интернет
						label.b-box
							input(type="checkbox" name="affilate" value ="instagram").b-box__input
							.b-box__label
							.b-box__name Инстаграм
			.b-contact-form__line.col-12
				input(type="submit" value ="Отправить").b-contact-form__submit.b-contact-form__button
