.b-index
	.container
		.b-index__text
			h1.b-index__title НОВОСТИ
			.b-index__textwrap.row.d-none.d-sm-block
				.col-sm-12.col-lg-6 Текст о том, что в ленте Filigree Carpets представлены самые последние новости, новинки продукции,  интересные и полезные материалы для дизайнеров и партнеров. Еще там какое-нибудь предложение, вообщем что бы три строки появилось примерно одинаковых.
		.b-index__line.row.d-none.d-lg-flex
			.col-6
				a(href="").b-index-item-lg.b-index__item
					.b-index-item-lg__wrap
						.b-index-item-lg__imgwrap
							img(src="images/foto-index-1.png").b-index-item-lg__img
						.b-index-item-lg__text.b-index-item-lg__text--right
							.b-index-item-lg__title Новый проект
							.b-index-item-lg__subtitle частного интерьера
				a(href="").b-index-item-lg.b-index__item
					.b-index-item-lg__wrap
						.b-index-item-lg__imgwrap
							img(src="images/foto-index-1.png").b-index-item-lg__img
						.b-index-item-lg__text.b-index-item-lg__text--right
							.b-index-item-lg__title Новый проект
							.b-index-item-lg__subtitle частного интерьера
			a(href="").b-index-item-lg.b-index-item-lg--tall.b-index__item.col-6
				.b-index-item-lg__wrap
					.b-index-item-lg__imgwrap
						img(src="images/foto-index-1.png").b-index-item-lg__img
					.b-index-item-lg__text.b-index-item-lg__text--right
						.b-index-item-lg__title Новый проект
						.b-index-item-lg__subtitle частного интерьера
			a(href="").b-index-item-lg.b-index__item.col-12
				.b-index-item-lg__wrap
					.b-index-item-lg__imgwrap
						img(src="images/foto-index-1.png").b-index-item-lg__img
					.b-index-item-lg__text.b-index-item-lg__text--right
						.b-index-item-lg__title Новый проект
						.b-index-item-lg__subtitle частного интерьера
			a(href="").b-index-item-lg--tall.b-index-item-lg.b-index__item.col-6
				.b-index-item-lg__wrap
					.b-index-item-lg__imgwrap
						img(src="images/foto-index-1.png").b-index-item-lg__img
					.b-index-item-lg__text.b-index-item-lg__text--right
						.b-index-item-lg__title Новый проект
						.b-index-item-lg__subtitle частного интерьера
			.col-6
				a(href="").b-index-item-lg.b-index__item
					.b-index-item-lg__wrap
						.b-index-item-lg__imgwrap
							img(src="images/foto-index-1.png").b-index-item-lg__img
						.b-index-item-lg__text.b-index-item-lg__text--right
							.b-index-item-lg__title Новый проект
							.b-index-item-lg__subtitle частного интерьера
				a(href="").b-index-item-lg.b-index__item
					.b-index-item-lg__wrap
						.b-index-item-lg__imgwrap
							img(src="images/foto-index-1.png").b-index-item-lg__img
						.b-index-item-lg__text.b-index-item-lg__text--right
							.b-index-item-lg__title Новый проект
							.b-index-item-lg__subtitle частного интерьера
			
		.b-index__line.row.d-none.d-sm-flex.d-lg-none
			a(href="").b-index-item-sm.b-index__item.col-12
				.b-index-item-sm__wrap
					.b-index-item-sm__imgwrap
						img(src="images/foto-index-1.png").b-index-item-sm__img
					.b-index-item-sm__text.b-index-item-sm__text--right
						.b-index-item-sm__title Новый проект
						.b-index-item-sm__subtitle частного интерьера	
			a(href="").b-index-item-sm.b-index__item.col-12
				.b-index-item-sm__wrap
					.b-index-item-sm__imgwrap
						img(src="images/foto-index-3.png").b-index-item-sm__img
					.b-index-item-sm__text.b-index-item-sm__text--right
						.b-index-item-sm__title Новый проект
						.b-index-item-sm__subtitle частного интерьера	
			a(href="").b-index-item-sm.b-index__item.col-6
				.b-index-item-sm__wrap
					.b-index-item-sm__imgwrap
						img(src="images/foto-index-4.png").b-index-item-sm__img
					.b-index-item-sm__text.b-index-item-sm__text--left
						.b-index-item-sm__title Новый проект
						.b-index-item-sm__subtitle частного интерьера	
			a(href="").b-index-item-sm.b-index__item.col-6
				.b-index-item-sm__wrap
					.b-index-item-sm__imgwrap
						img(src="images/pattern-index-1.png").b-index-item-sm__img
						.b-index-item-sm__textblock Ковры и ковровые покрытия – наша основная специализация. Наша группа компаний работает на этом рынке более 10 лет.
			a(href="").b-index-item-sm.b-index__item.col-12
				.b-index-item-sm__wrap
					.b-index-item-sm__imgwrap
						img(src="images/foto-index-1.png").b-index-item-sm__img
					.b-index-item-sm__text.b-index-item-sm__text--left
						.b-index-item-sm__title Новый проект
						.b-index-item-sm__subtitle частного интерьера	
			a(href="").b-index-item-sm.b-index__item.col-6
				.b-index-item-sm__wrap
					.b-index-item-sm__imgwrap
						img(src="images/foto-index-3.png").b-index-item-sm__img
					.b-index-item-sm__text.b-index-item-sm__text--right
						.b-index-item-sm__title Новый проект
						.b-index-item-sm__subtitle частного интерьера	
			a(href="").b-index-item-sm.b-index__item.col-6
				.b-index-item-sm__wrap
					.b-index-item-sm__imgwrap
						img(src="images/foto-index-3.png").b-index-item-sm__img
					.b-index-item-sm__text.b-index-item-sm__text--left
						.b-index-item-sm__title Новый проект
						.b-index-item-sm__subtitle частного интерьера	
		.b-index__line.row.d-sm-none
			a(href="").b-index-item-xs.b-index__item.col-12
				.b-index-item-xs__imgwrap
					img(src="images/foto-index-1.png").b-index-item-xs__img
				.b-index-item-xs__text
					.b-index-item-xs__title Новый проект
					.b-index-item-xs__subtitle частного интерьера	
					svg(width="12", height="22", viewbox="0 0 12 22", fill="none", xmlns="http://www.w3.org/2000/svg").b-index-item-xs__arrow
						path(d="M1 21L11 11L1 1.00001", stroke="black", stroke-width="0.5")

			a(href="").b-index-item-xs.b-index__item.col-12
				.b-index-item-xs__imgwrap
					img(src="images/pattern-index-1.png").b-index-item-xs__img
					.b-index-item-xs__textblock Ковры и ковровые покрытия – наша основная специализация. Наша группа компаний работает на этом рынке более 10 лет.
				.b-index-item-xs__text
					.b-index-item-xs__title Новый проект
					.b-index-item-xs__subtitle частного интерьера	
					svg(width="12", height="22", viewbox="0 0 12 22", fill="none", xmlns="http://www.w3.org/2000/svg").b-index-item-xs__arrow
						path(d="M1 21L11 11L1 1.00001", stroke="black", stroke-width="0.5")

			a(href="").b-index-item-xs.b-index__item.col-12
				.b-index-item-xs__imgwrap
					img(src="images/foto-index-3.png").b-index-item-xs__img
				.b-index-item-xs__text
					.b-index-item-xs__title Новый проект
					.b-index-item-xs__subtitle частного интерьера
					svg(width="12", height="22", viewbox="0 0 12 22", fill="none", xmlns="http://www.w3.org/2000/svg").b-index-item-xs__arrow
						path(d="M1 21L11 11L1 1.00001", stroke="black", stroke-width="0.5")

			.col-12
				.b-index-item-xs__imgwrap
					img(src="images/foto-index-4.png").b-index-item-xs__img
				.b-index-item-xs__text
					.b-index-item-xs__title Новый проект
					.b-index-item-xs__subtitle частного интерьера	
					svg(width="12", height="22", viewbox="0 0 12 22", fill="none", xmlns="http://www.w3.org/2000/svg").b-index-item-xs__arrow
						path(d="M1 21L11 11L1 1.00001", stroke="black", stroke-width="0.5")
		.b-index-more
			.b-index-more__link Читать еще
			svg(width="12", height="22", viewbox="0 0 12 22", fill="none", xmlns="http://www.w3.org/2000/svg").b-index-more__arrow
				path(d="M1 21L11 11L1 1.00001", stroke="black", stroke-width="0.5")
		.b-sample.i-sample
			h2 Образцы недели
			.b-sample__list.i-sample__list
				.b-sample-item
					.b-sample-item__pixwrap
						img(src="images/sample-1.png").b-sample-item__pix
					.b-sample-item__text
						.b-sample-item__collect Art Deco
						.b-sample-item__name Ice Blue
				.b-sample-item
					.b-sample-item__pixwrap
						img(src="images/sample-1.png").b-sample-item__pix
					.b-sample-item__text
						.b-sample-item__collect Brightwater
						.b-sample-item__name Dsert
				.b-sample-item
					.b-sample-item__pixwrap
						img(src="images/sample-1.png").b-sample-item__pix
					.b-sample-item__text
						.b-sample-item__collect Art Deco
						.b-sample-item__name Ice Blue
				.b-sample-item
					.b-sample-item__pixwrap
						img(src="images/sample-1.png").b-sample-item__pix
					.b-sample-item__text
						.b-sample-item__collect Brightwater
						.b-sample-item__name Dsert
				.b-sample-item
					.b-sample-item__pixwrap
						img(src="images/sample-1.png").b-sample-item__pix
					.b-sample-item__text
						.b-sample-item__collect Art Deco
						.b-sample-item__name Ice Blue
				.b-sample-item
					.b-sample-item__pixwrap
						img(src="images/sample-1.png").b-sample-item__pix
					.b-sample-item__text
						.b-sample-item__collect Brightwater
						.b-sample-item__name Dsert
				.b-sample-item
					.b-sample-item__pixwrap
						img(src="images/sample-1.png").b-sample-item__pix
					.b-sample-item__text
						.b-sample-item__collect Art Deco
						.b-sample-item__name Ice Blue
				.b-sample-item
					.b-sample-item__pixwrap
						img(src="images/sample-1.png").b-sample-item__pix
					.b-sample-item__text
						.b-sample-item__collect Brightwater
						.b-sample-item__name Dsert