.b-page
		
	.b-item__popup.b-item-p
		img(src	="images/bborder.png").b-item-p__bg.d-none.d-lg-block
		.container
			.b-item-p__container.col-lg-11
			
			.b-item__wrapper
				.b-item.row
						.col-12.col-lg-6
							.row
								.col-12.col-md-12.col-lg-12.b-item__item
									h1.b-item__title.d-lg-none RUFOLO
									.row
										.b-genslider.col-md-6.col-lg-12
											.b-genslider__list.i-topslider
												img(src="images/slider-1.png").b-genslider__item
												img(src="images/slider-2.png").b-genslider__item
												img(src="images/slider-1.png").b-genslider__item
												img(src="images/slider-1.png").b-genslider__item
												img(src="images/slider-2.png").b-genslider__item
												img(src="images/slider-1.png").b-genslider__item
										.d-none.d-md-flex.col-md-6.d-lg-none
											
											.b-flextab
												.b-flextab__list
													.b-flextab__item
														.b-flextab__title
															span ЦВЕТ
														.b-flextab__value
															span Barley
													.b-flextab__item
														.b-flextab__title 
															span МАТЕРИАЛ
														.b-flextab__value 
															span 34% wool<br> 35% polysilk<br>31% nylon
													.b-flextab__item
														.b-flextab__title
															span ТЕХНОЛОГИЯ
														.b-flextab__value
															span Nature
													.b-flextab__item
														.b-flextab__title
															span КОЛЛЕКЦИЯ
														.b-flextab__value
															span Nature
								.col-12.b-item__item
									.b-subslider.i-topslider__controlls.row
										.col-4.col-sm-3.col-md-2
											.b-subslider__item.i-topslider__cont
												img(src="images/slider-1.png").b-subslider__pix
												.b-subslider__title Raven
										.col-4.col-sm-3.col-md-2
											.b-subslider__item.i-topslider__cont
												img(src="images/slider-2.png").b-subslider__pix
												.b-subslider__title Mercury
										.col-4.col-sm-3.col-md-2
											.b-subslider__item.i-topslider__cont
												img(src="images/slider-1.png").b-subslider__pix
												.b-subslider__title vCloud
										.col-4.col-sm-3.col-md-2
											.b-subslider__item.i-topslider__cont
												img(src="images/slider-1.png").b-subslider__pix
												.b-subslider__title Raven
										.col-4.col-sm-3.col-md-2
											.b-subslider__item.i-topslider__cont
												img(src="images/slider-2.png").b-subslider__pix
												.b-subslider__title Mercury
										.col-4.col-sm-3.col-md-2
											.b-subslider__item.i-topslider__cont
												img(src="images/slider-1.png").b-subslider__pix
												.b-subslider__title vCloud
						.col-12.col-md-12.col-lg-5
							.d-md-none.d-lg-block
								.b-item__title.d-hide.d-lg-block Rufolo
								.b-flextab
									.b-flextab__list
										.b-flextab__item
											.b-flextab__title
												span ЦВЕТ
											.b-flextab__value
												span Barley
										.b-flextab__item
											.b-flextab__title 
												span МАТЕРИАЛ
											.b-flextab__value 
												span 34% wool<br> 35% polysilk<br>31% nylon
										.b-flextab__item
											.b-flextab__title
												span ТЕХНОЛОГИЯ
											.b-flextab__value
												span Nature
										.b-flextab__item
											.b-flextab__title
												span КОЛЛЕКЦИЯ
											.b-flextab__value
												span Nature
							.row
								.col-12.col-md-6
									.b-item-link
										.b-item-link__link ПОЛУЧИТЬ ОБРАЗЕЦ
											svg(width="12", height="22", viewbox="0 0 12 22", fill="none", xmlns="http://www.w3.org/2000/svg").b-item-link__arrow
												path(d="M1 21L11 11L1 1.00001", stroke="black", stroke-width="0.5")
										.b-item-link__img
											img(src="images/itemlink.png").b-item-link__pix
								.col-12.col-md-6
									.b-item-link
										.b-item-link__link КОНСТРУКТОР КОВРА
											svg(width="12", height="22", viewbox="0 0 12 22", fill="none", xmlns="http://www.w3.org/2000/svg").b-item-link__arrow
												path(d="M1 21L11 11L1 1.00001", stroke="black", stroke-width="0.5")
										.b-item-link__img
											img(src="images/itemlink.png").b-item-link__pix
						
				.row
					.col-lg-11
						.b-sample.i-sample
							h2 Образцы недели
							.b-sample__list.i-sample__list(data-id='item')
								.b-sample-item
									.b-sample-item__pixwrap
										img(src="images/sample-1.png").b-sample-item__pix
									.b-sample-item__text
										.b-sample-item__collect Art Deco
										.b-sample-item__name Ice Blue
								.b-sample-item
									.b-sample-item__pixwrap
										img(src="images/sample-1.png").b-sample-item__pix
									.b-sample-item__text
										.b-sample-item__collect Brightwater
										.b-sample-item__name Dsert
								.b-sample-item
									.b-sample-item__pixwrap
										img(src="images/sample-1.png").b-sample-item__pix
									.b-sample-item__text
										.b-sample-item__collect Art Deco
										.b-sample-item__name Ice Blue
								.b-sample-item
									.b-sample-item__pixwrap
										img(src="images/sample-1.png").b-sample-item__pix
									.b-sample-item__text
										.b-sample-item__collect Brightwater
										.b-sample-item__name Dsert
								.b-sample-item
									.b-sample-item__pixwrap
										img(src="images/sample-1.png").b-sample-item__pix
									.b-sample-item__text
										.b-sample-item__collect Art Deco
										.b-sample-item__name Ice Blue
								.b-sample-item
									.b-sample-item__pixwrap
										img(src="images/sample-1.png").b-sample-item__pix
									.b-sample-item__text
										.b-sample-item__collect Brightwater
										.b-sample-item__name Dsert
								.b-sample-item
									.b-sample-item__pixwrap
										img(src="images/sample-1.png").b-sample-item__pix
									.b-sample-item__text
										.b-sample-item__collect Art Deco
										.b-sample-item__name Ice Blue
								.b-sample-item
									.b-sample-item__pixwrap
										img(src="images/sample-1.png").b-sample-item__pix
									.b-sample-item__text
										.b-sample-item__collect Brightwater
										.b-sample-item__name Dsert