.b-page
	include breadcrumbs.jade
	+breadcrumbs(['каталоги','residential','Rufolo'])

	.container

		.b-item.row
				.col-12.col-lg-7
					.row
						.col-12.col-md-12.col-lg-12.b-item__item
							h1.b-item__title.d-lg-none RUFOLO
							.row
								.b-genslider.col-md-6.col-lg-12
									.b-genslider__list.i-topslider
										.b-genslider__slide
											label.b-genslider__like.b-subcat-like
												input(type="checkbox" name ="like").b-subcat-like__input
												.b-subcat-like__label
													svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
														path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
											a( data-fancybox href="images/slider-1.png")
												img(src="images/slider-1.png").b-genslider__item
										.b-genslider__slide
											label.b-genslider__like.b-subcat-like
												input(type="checkbox" name ="like").b-subcat-like__input
												.b-subcat-like__label
													svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
														path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
											a( data-fancybox href="images/slider-2.png")
												img(src="images/slider-2.png").b-genslider__item
										.b-genslider__slide
											label.b-genslider__like.b-subcat-like
												input(type="checkbox" name ="like").b-subcat-like__input
												.b-subcat-like__label
													svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
														path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
											a( data-fancybox href="images/slider-1.png")
												img(src="images/slider-1.png").b-genslider__item
										.b-genslider__slide
											label.b-genslider__like.b-subcat-like
												input(type="checkbox" name ="like").b-subcat-like__input
												.b-subcat-like__label
													svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
														path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
											a( data-fancybox href="images/slider-2.png")
												img(src="images/slider-1.png").b-genslider__item
										.b-genslider__slide
											label.b-genslider__like.b-subcat-like
												input(type="checkbox" name ="like").b-subcat-like__input
												.b-subcat-like__label
													svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
														path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
											a( data-fancybox href="images/slider-1.png")
												img(src="images/slider-2.png").b-genslider__item
										.b-genslider__slide
											label.b-genslider__like.b-subcat-like
												input(type="checkbox" name ="like").b-subcat-like__input
												.b-subcat-like__label
													svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
														path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
											a( data-fancybox href="images/slider-2.png")
												img(src="images/slider-1.png").b-genslider__item
								.d-none.d-md-flex.col-md-6.d-lg-none
									
									.b-flextab
										.b-flextab__list
											.b-flextab__item
												.b-flextab__title
													span ЦВЕТ
												.b-flextab__value
													span Barley
											.b-flextab__item
												.b-flextab__title 
													span МАТЕРИАЛ
												.b-flextab__value 
													span 34% wool<br> 35% polysilk<br>31% nylon
											.b-flextab__item
												.b-flextab__title
													span ТЕХНОЛОГИЯ
												.b-flextab__value
													span Nature
											.b-flextab__item
												.b-flextab__title
													span КОЛЛЕКЦИЯ
												.b-flextab__value
													span Nature
						.col-12.b-item__item
							.b-subslider.i-topslider__controlls.row
								.col-4.col-sm-3.col-md-2
									.b-subslider__item.i-topslider__cont.active
										.b-subslider__pixwrap
											img(src="images/slider-1.png").b-subslider__pix
										.b-subslider__title Raven
								.col-4.col-sm-3.col-md-2
									.b-subslider__item.i-topslider__cont
										.b-subslider__pixwrap
											img(src="images/slider-2.png").b-subslider__pix
										.b-subslider__title Mercury
								.col-4.col-sm-3.col-md-2
									.b-subslider__item.i-topslider__cont
										.b-subslider__pixwrap
											img(src="images/slider-1.png").b-subslider__pix
										.b-subslider__title vCloud
								.col-4.col-sm-3.col-md-2
									.b-subslider__item.i-topslider__cont
										.b-subslider__pixwrap
											img(src="images/slider-1.png").b-subslider__pix
										.b-subslider__title Raven
								.col-4.col-sm-3.col-md-2
									.b-subslider__item.i-topslider__cont
										.b-subslider__pixwrap
											img(src="images/slider-2.png").b-subslider__pix
										.b-subslider__title Mercury
								.col-4.col-sm-3.col-md-2
									.b-subslider__item.i-topslider__cont
										.b-subslider__pixwrap
											img(src="images/slider-1.png").b-subslider__pix
										.b-subslider__title vCloud
				.col-12.col-md-12.col-lg-5.b-item-flexcont
					.d-md-none.d-lg-block
						.b-item__title.d-hide.d-lg-block RUFOLO
						.b-flextab
							.b-flextab__list
								.b-flextab__item
									.b-flextab__title
										span ЦВЕТ
									.b-flextab__value
										span Barley
								.b-flextab__item
									.b-flextab__title 
										span МАТЕРИАЛ
									.b-flextab__value 
										span 34% wool<br> 35% polysilk<br>31% nylon
								.b-flextab__item
									.b-flextab__title
										span ТЕХНОЛОГИЯ
									.b-flextab__value
										span Nature
								.b-flextab__item
									.b-flextab__title
										span КОЛЛЕКЦИЯ
									.b-flextab__value
										span Nature
					.row.b-item-flexcont__item
						.col-12.col-md-6
							.b-item-link.b-item-link--invers
								.b-item-link__link ПОЛУЧИТЬ ОБРАЗЕЦ
						
								.b-item-link__img
									a( data-fancybox href="images/itemlink.png")
										img(src="images/itemlink.png").b-item-link__pix
						.col-12.col-md-6
							.b-item-link
								.b-item-link__link КОНСТРУКТОР КОВРА

								.b-item-link__img
									a( data-fancybox href="images/itemlink.png")
										img(src="images/itemlink.png").b-item-link__pix
				.d-hide
					.b-coolborfer
			.b-sample.i-sample
				h2 АЛЬТЕРНАТИВНЫЕ ВАРИАНТЫ
				.b-sample__list.i-sample__list(data-id ='')
					.b-sample-item
						a(href="/item.html").b-sample-item__pixwrap
							.b-sample-item__link Просмотр
							img(src="images/sample-1.png").b-sample-item__pix
						.b-sample-item__text
							a(href="/item.html").b-sample-item__collect Art Deco
							.b-sample-item__name Ice Blue
					.b-sample-item
						a(href="/item.html").b-sample-item__pixwrap
							.b-sample-item__link Просмотр
							img(src="images/sample-1.png").b-sample-item__pix
						.b-sample-item__text
							a(href="/item.html").b-sample-item__collect Brightwater
							.b-sample-item__name Dsert
					.b-sample-item
						a(href="/item.html").b-sample-item__pixwrap
							.b-sample-item__link Просмотр
							img(src="images/sample-1.png").b-sample-item__pix
						.b-sample-item__text
							a(href="/item.html").b-sample-item__collect Art Deco
							.b-sample-item__name Ice Blue
					.b-sample-item
						a(href="/item.html").b-sample-item__pixwrap
							.b-sample-item__link Просмотр
							img(src="images/sample-1.png").b-sample-item__pix
						.b-sample-item__text
							a(href="/item.html").b-sample-item__collect Brightwater
							.b-sample-item__name Dsert
					.b-sample-item
						a(href="/item.html").b-sample-item__pixwrap
							.b-sample-item__link Просмотр
							img(src="images/sample-1.png").b-sample-item__pix
						.b-sample-item__text
							a(href="/item.html").b-sample-item__collect Art Deco
							.b-sample-item__name Ice Blue
				