.b-page
	include breadcrumbs.jade
	+breadcrumbs(['каталоги','residential'])
	.b-content.container
		.b-content__textblock
			h1 NATURE
			p.b-content__text Серия Nature – богатство цвета и природных мотивов. Динамика принтов на тему анималистики или лаконичность природ-ных орнаментов поддержит в интерьере атмосферу гармонии или создаст особое настроение и подчеркнет характер самого смелого пространства. 
	.container
		.b-subcat
			.b-subcat__item.b-subcat-item
				h2.b-subcat-item__title Brick Lane
				.b-subcat-item__tab.b-subcat-tab
					.b-subcat-tab__list
						.b-subcat-tab__item
							.b-subcat-tab__title
								span Материал
							.b-subcat-tab__value
								span 100? nylon
						.b-subcat-tab__item
							.b-subcat-tab__title
								span Технология
							.b-subcat-tab__value
								span pinted
						.b-subcat-tab__item
							.b-subcat-tab__title
								span Раппорт(мм)
							.b-subcat-tab__value
								span 1003х1122
						.b-subcat-tab__item
							.b-subcat-tab__title
								span Ширина рулона(мм)
							.b-subcat-tab__value
								span 4012,0
				.b-subcat-item__list.b-subcat-list.row
					.b-subcat-list__item.col-6.col-sm-4.col-md-3.col-lg-2
						.b-subcat-list__pixwar
							img(src="images/sample-1.png").b-subcat-list__pix
							a(href="").b-subcat-list__link Просмотр
						.b-subcat-list__footer
							.b-subcat-list__name desert
							label.b-subcat-list__like.b-subcat-like
								input(type="checkbox" name ="like").b-subcat-like__input
								.b-subcat-like__label
									svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
										path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
					.b-subcat-list__item.col-6.col-sm-4.col-md-3.col-lg-2
						.b-subcat-list__pixwar
							img(src="images/sample-1.png").b-subcat-list__pix
							a(href="").b-subcat-list__link Просмотр
						.b-subcat-list__footer
							.b-subcat-list__name desert
							label.b-subcat-list__like.b-subcat-like
								input(type="checkbox" name ="like").b-subcat-like__input
								.b-subcat-like__label
									svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
										path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
					.b-subcat-list__item.col-6.col-sm-4.col-md-3.col-lg-2
						.b-subcat-list__pixwar
							img(src="images/sample-1.png").b-subcat-list__pix
							a(href="").b-subcat-list__link Просмотр
						.b-subcat-list__footer
							.b-subcat-list__name desert
							label.b-subcat-list__like.b-subcat-like
								input(type="checkbox" name ="like").b-subcat-like__input
								.b-subcat-like__label
									svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
										path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
					.b-subcat-list__item.col-6.col-sm-4.col-md-3.col-lg-2
						.b-subcat-list__pixwar
							img(src="images/sample-1.png").b-subcat-list__pix
						.b-subcat-list__footer
							.b-subcat-list__name desert
							label.b-subcat-list__like.b-subcat-like
								input(type="checkbox" name ="like").b-subcat-like__input
								.b-subcat-like__label
									svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
										path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')
					.b-subcat-list__item.col-6.col-sm-4.col-md-3.col-lg-2
						.b-subcat-list__pixwar
							img(src="images/sample-1.png").b-subcat-list__pix
						.b-subcat-list__footer
							.b-subcat-list__name desert
							label.b-subcat-list__like.b-subcat-like
								input(type="checkbox" name ="like").b-subcat-like__input
								.b-subcat-like__label
									svg(width='18', height='17', viewbox='0 0 18 17', fill='none', xmlns='http://www.w3.org/2000/svg')
										path(d='M8.91008 16.35L7.61812 15.1739C3.02943 11.0129 0 8.26856 0 4.90055C0 2.15624 2.15624 0 4.90055 0C6.4509 0 7.93888 0.721717 8.91008 1.86221C9.88128 0.721717 11.3693 0 12.9196 0C15.6639 0 17.8202 2.15624 17.8202 4.90055C17.8202 8.26856 14.7907 11.0129 10.202 15.1828L8.91008 16.35Z', transform='translate(0 0.494995)', fill='#C4C4C4')

	.container
		.b-index-more
			.b-index-more__link СЛЕДУЮЩИЕ ПЯТЬ ОБРАЗЦОВ
			svg(width="12", height="22", viewbox="0 0 12 22", fill="none", xmlns="http://www.w3.org/2000/svg").b-index-more__arrow
				path(d="M1 21L11 11L1 1.00001", stroke="black", stroke-width="0.5")
	.container
		.b-morecollection
			h2.b-morecollection__title ДРУГИЕ КОЛЛЕКЦИИ
			.b-morecollection__list.row
				.col-12.col-lg-4
					a(href="").b-morecollection__item
						img(src="images/morecoll-1.png").b-morecollection__img
						.b-morecollection__link CLASSIC
				.col-12.col-lg-4
					a(href="").b-morecollection__item
						img(src="images/morecoll-2.png").b-morecollection__img
						.b-morecollection__link NEUTRAL
				.col-12.col-lg-4
					a(href="").b-morecollection__item
						img(src="images/morecoll-3.png").b-morecollection__img
						.b-morecollection__link ELEGANCE
